table, td, th {
    /*border: 3px solid blue;*/
}
table {
    border-collapse: collapse;
    width: 250px;
}
th {
    width: 100px;
    height: 100px;
}
.contenedor {
    /*display: inline;*/
    width: 300px;
    margin: 100px;
    padding: 55px 25px;
    background-color: black;
}
[type=button] {
    width: 60px;
    height: 60px;
}
[type=text] {
    width: 100%;
    height: 80px;
    font-size: 40px;
    text-align: right;
}
#esigual [type=button] {
    width: 60px;
    background-color: green;
    color: white;
}
input {
    border: 3px solid black;
}
