   html,
   body,
   h1,
   h2,
   h3,
   h4,
   h5 {
       font-family: "Raleway", sans-serif
   }
   .menu_interno .w3_theme_l3>.w3-bar-item {
       /*width: 200px !important;*/
       /*height: 25px!important;*/
       margin: 10px !important;
   }
   .menu_interno .w3-right {
       padding: 0px !important;
   }
   .seccion_reguistro {
       padding-bottom: 100px !important;
   }
