.minaturas div {
    border: 1px solid black;
}
/*

Un poco de flex para centralizar elementos  :)

*/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
Los elementos seleccionados estarán ocultos y se 
usaran para  procesar las imágenes que realmente 
se enviaran al servidor 
*/

#imagenes,
#imagen1,
#imagen2,
#imagen3,
#imagen4 {
    display: none;
}
